<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="menu">
        <button><a href="/">Menu</a></button>
        <button><a href="/work">Work</a></button>
        <button><a href="/photos">Photos</a></button>
    </div>
    <div class="workSpace">
        <div class="info">
            <h2>Name</h2> 
            <p>Mark Allan Hoppus</p>
            <h2>Birthday</h2>
            <p>17 March 1972</p>
            <h2>Bands</h2> 
            <p>Blink 182, +44, Simple Creatures</p>
        </div>
        
        <img class="mark" src="/mark1.jpeg" />
    </div>
</body>
</html>