<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Hoppus</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="menu">
        <button><a href="/about">About</a></button>
        <button><a href="/work">Work</a></button>
        <button><a href="/photos">Photos</a></button>
    </div>
    <div class="workSpace">
        <img class="marktoppus" src="/octopus.png" />
    </div>
</body>
</html>