<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="menu">
        <button><a href="/about">About</a></button>
        <button><a href="/work">Work</a></button>
        <button><a href="/">Menu</a></button>
    </div>
    <div class="photos">
        <div class="firstPhotos">
            <img class="imgMark" src="/mark2.jpeg"/>
            <img class="imgMark" src="/mark3.jpeg"/>
            <img class="imgMark" src="/mark4.jpeg"/>
        </div>
        <div class="secondPhotos">
            <img class="imgMark" src="/mark5.webp"/>
            <img class="imgMark" src="/mark6.jpeg"/>
            <img class="imgMark" src="/mark7.jpeg"/>
        </div>
    </div>
</body>
</html>