<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="menu">
        <button><a href="/">Menu</a></button>
        <button><a href="/about">About</a></button>
        <button><a href="/photos">Photos</a></button>
    </div>
    <div class="workSpace">
        <div class="first">
            <div>
                <h3>Dude ranch</h2> 
                <img class="disco" src="/dude ranch.jpeg"/>
            </div>
            <div>
                <h3>Enema of the State</h2> 
                <img class="disco" src="/enema.jpeg"/>
            </div>
            <div>
                <h3>TOYPAJ</h2> 
                <img class="disco" src="/take off.jpeg"/>
            </div>
            <div>
                <h3>Blink-182</h2> 
                <img class="disco" src="/selftitled.jpeg"/>
            </div>
        </div>
        <div class="second">
            <div>
                <h3>Greatest Hits</h2> 
                <img class="disco" src="/greatest.jpeg"/>
            </div>
            <div>
                <h3>Neighborhoods</h2> 
                <img class="disco" src="neighbor.jpeg"/>
            </div>
            <div>
                <h3>California</h2> 
                <img class="disco" src="/california.jpeg"/>
            </div>
            <div>
                <h3>Nine</h2> 
                <img class="disco" src="/nine.jpeg"/>
            </div>
        </div>
    </div>
</body>
</html>